.wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 1.5;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: stretch;
    z-index: 9999;
}

.navbar {
    bottom: 0;
    background-color: aliceblue;
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.debug-btn {
    bottom: 0;
    right: 0;
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
}
