/* stylelint-disable */
$out-of-range-color: lighten(#333, 40%) !default;
$out-of-range-bg-color: lighten(#333, 70%) !default;
// ...
$calendar-border: #ddd !default;
$cell-border: #ddd !default;

// ...
$border-color: #ccc !default;

// Each calendar segment is 1/7th.
$segment-width: 0.1429% !default;

// ...
$time-selection-color: white !default;
$time-selection-bg-color: rgb(160, 166, 173) !default;
$date-selection-bg-color: rgb(0 0 0 / 10%) !default;

// ...
$event-bg: #c9e1ff !default;
// $event-border: darken(#ffffff, 10%) !default;
$event-border: rgba(255, 255, 255, 0.78) !default;
$event-outline: #3b99fc !default;
// $event-color: #717171FF !default;
$event-color: darken($event-bg, 60%) !default;

$event-border-radius: 9px !default;
$event-padding: 2px 5px !default;
$event-zindex: 4 !default;

// ...
$btn-color: #373a3c !default;
$btn-bg: #fff !default;
$btn-border: #ccc !default;

// ...
$current-time-color: rgba(244, 63, 94) !default;
$rbc-css-prefix: rbc-i !default;
$today-highlight-bg: rgba(240, 240, 240, 0.3) !default;

// ...
$column-header-color: #8c8c8c !default;
$label-color: #8c8c8c !default;
